[flake8]
exclude = 
    .git,
    __pycache__,
    .venv,
    venv,
    env,
    build,
    dist,
    .pytest_cache,
    .mypy_cache,
    */site-packages/*
max-line-length = 120
extend-ignore = 
    E203,
    W503
